form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    height: fit-content;
    align-items: center;
    box-sizing: border-box;
    margin-top: 120px;
}
legend{
    margin-left: 90px;
    padding: 5px;
    margin-top: 100px;
    border: 1px solid black;
}
label{
    display: flex;
    margin:auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#firstname{
    padding:20px;
}
fieldset{
    width: 500px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.languages{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right:40px;
    justify-content: space-around;
    align-items: stretch;
}
.next{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
}
#status{
    margin:5px;
    width: 73px;
    margin-top: 0;
}
#date{
    margin: 5px;
    margin-top: 0;
    width: 72px;
}

#comments{
    height: 50px;
    width:200px;
}
label[for="comments"]{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    font-weight:100;
    margin: auto;
    margin-top: -15px;
}
.the_end{
    display: flex;
    justify-content: space-around;
}
label[for="signup"]{
    width: 56px;
    margin-right: 20px;
}
label[for="terms"]{
    width: 56px;
    text-align:justify;
}
button{
    margin-top: 15px;
    width: 110px;
}
p{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}
#html{
    width: 20px;
    text-align: start;
}
#css{
    width: 20px;
}
#javascript{
    width: 20px;
}
#terms{
    width:20px;
}
#signup{
    width: 20px;
}
label[for="status"]{
    text-align: center;
}
label[for="date"]{
    text-align: center;
}
body {
    background-image: url('gray.png');  /* Replace with your image path */
    background-size: cover;  /* Ensure the image covers the entire background */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent the image from repeating */
  }
  